@import "_mixins.scss";

.swbp-button-ribbon {
    @media (max-width: $breakpoint-small) {
        .btn {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }
    }
    min-height: 42px;
    margin-top: 15px;
}

.btn {
    border-radius: 0px;
    text-transform: uppercase;

    .fa {
        font-size: 1.2em;
    }
}

.btn-default {
    font-size: 0.9em;
    color: $color-text-highlight;
    background-color: $color-background-content;
    border: solid 1px $color-border-main;

    &:hover {
        background-color: $white-color;
        color: $color-primary;
    };
}

.btn-swbp-action {
    @include buttonRaised;
    min-width: 200px;

    &:active {
        background-color: $color-link;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    &:hover{
        background-color: $color-link;
        color: $white-color;
    }
    
    &:focus, &:active:focus {
        background-color: $color-link-active;
        color: $white-color;
        outline: 0px;
    }
}

.btn-swbp-action-float {
    @include floatButton (50px, 20);
    color: $color-text-highlight;
    background-color: $color-background-content;
    
    .fa {
        line-height: 2em;
        font-size: 1.5em;
    }
}

.swbp-img-card {
    .btn-swbp-action-float {
        color: $white-color;
        background-color: $color-primary;
        right: 25px;
        bottom: 20px;
    }
}

.btn-swbp-action-head {
    text-transform: none;
    background-color: $white-color;
    border: none;
    color: $color-text-highlight;
    line-height: 1.5em;
     
    &:active, &:focus {
        color: $white-color;
        background-color: $color-primary-active;
        //border: none;
    }

    &:hover{
        color: $white-color;
        background-color: $color-primary;
    }

    span.fa {
        font-size: 1.2em;
    }

    img {
        max-height: 20px;
        margin-right: 4px;
        //@include img-Userbar;
    }

    @media (max-width: $breakpoint-small - 1) {
        line-height: 2.8em;
        text-align: left;
        padding-left:24px;
        font-size: 1em;
    }
}