@import "_mixins.scss";

.btn {
    border-radius: 0px;
    text-transform: uppercase;

    .fa {
        font-size: 1.2em;
    }
}

.btn-default {
    color: $color-text-highlight;
    background-color: $color-background-content;
    border: solid 1px $color-border-main;

    &:hover {
        background-color: $white-color;
        color: $color-primary;
    };
}

.btn-block-swbp-action {
    @include buttonRaised;
    
    &:active {
        background-color: $color-link;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    &:hover{
        background-color: $color-link;
        color: $white-color;
    }
    
    &:focus, &:active:focus{
        background-color: $color-link-active;
        color: $white-color;
        outline: 0px;
    }

    @media (max-width:$breakpoint-small - 1) {
        margin: 6px 0px !important;
    }
}

.btn-block-swbp-action-head {
    text-transform: none;
    line-height: 3em;
    @include buttonFlat-Userbar;
     
    &:active {
        color: $white-color;
        background-color: $color-primary-active;
        border: 0px;
    }

    &:hover{
        color: $white-color;
        background-color: $color-primary;
    }         

    &:focus{
        color: $white-color;
        background-color: $color-primary-active;
    }

    span.fa {
        font-size: 1.2em;
    }

    img {
        @include img-Userbar;
    }

    @media (max-width: $breakpoint-small - 1) {
        line-height: 2.8em;
        text-align: left;
        padding-left:24px;
        font-size: 1em;
    }
}