/* 
    Created on : 07-mar-2016, 17:24:40
    Author     : hasdai
*/
/************************* PROPIEDADES SASS *************************/
$imgPath: "./images";
$fontPath: "./fonts";

/************************* COLORES SASS *************************/
$process-color: #40964a;
//$process-colorBar: #2ba272;
$white-color: #fff;
$black-color: #000;
$color-primary: #09af9b;
$color-primary-Click: #0ca892;
$color-primaryLink: #588bb3;
$color-primaryLink-Click: #3f789e;
$navigationBar-color: #1c2b36;
$navigationBar-colorActive: #131e26;
$textColor-Primary: #3c3c3a;
$textColor-Secundary: #979797;
$accentColor: #f9ae3b;
$accentColor-Click: #f4a031;
$window-background: #e8e8eb;
$window-background-400: #1c1c1c;
$content-background: #f5f5f6;
$border-color: #d8d8d8;
$panelHead-color: #7f94a3;
$iconLogin-color: #6e7f8e;
$finished-color: #7cb342;
$pending-color: #e53935;
$aborted-color: #1e88e5;
