/* 
    Created on : 28-jun-2016, 11:54:42
    Author     : hasdai
*/
.swbp-free-text {
    overflow: auto;
    
    table {
        width: 100%;
        background-color: $white-color;
        
        tr td {
            border: solid 1px #d8d8d7;
            color: #3c3c3a;
            font-size: 13px;
            padding: 8px 16px;
            vertical-align: middle;
        }
    }
}