@import "_swbptheme.scss";

/************************* MIXINS SASS *************************/

/************************ Fuentes ************************/
@mixin fontPrimary{
	color: $textColor-Primary;
    font-size: 13px;
}
@mixin fontPrimary-Light {
    color: $white-color;
    font-size: 13px;
}
@mixin fontPrimary-High {
    color: $color-primary;
    font-size: 13px;
}
@mixin fontSecundary {
    color: $textColor-Secundary;
    font-size: 13px;
}
@mixin fontLink{
	color: $color-primaryLink;
    font-size: 13px;
}
@mixin fontHeadline {
    height: 48px;
    background-color: $content-background;
    color: $navigationBar-color;
    font-size: 22px;
    padding: 10px 40px;
}
@mixin fontTitle {
  color: $color-primary;
  font-size: 20px;
  margin: 0px;
}
@mixin fontSubhead {
  color: $color-primary;
  font-size: 18px;
  text-transform: uppercase;
  margin: 22px 0px 14px;
}
@mixin fontCaption {
  color: $textColor-Secundary;
  font-size: 12px;
}
@mixin fontCaption-Button {
  color: #979797;
  font-size: 12px;
  text-transform: uppercase;
}
@mixin fontButton-Block {
  color: $white-color;
  font-size: 14px;
  text-transform: uppercase;
}
@mixin  fontProperty{
    color: $textColor-Secundary;
    font-size: 11px;
    font-style: italic;
}
@mixin fontMinimum{
    color: $textColor-Secundary;
    font-size: 10px;
}
/************************ Iconos ************************/
@mixin iconList {
  padding: 8px 0px 0px 0px;
  min-height: 36px;
  color: $accentColor;
  font-size: 20px;
  text-align: center;
}
@mixin iconMenu{
  height: 48px;
  font-size: 24px;
  padding-top: 12px;
}
/************************ Botones ************************/
@mixin buttonRaised {
    background-color: $color-primaryLink;
    border-radius: 0px;
    margin: 6px 0px 6px 16px;
    //height: 36px;
    @include fontButton-Block;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -webkit-background-size: 200% 200%;
    background-size: 200%;
    background-position: 50%;
    -webkit-transition: all 0.4s; /* Chrome, Safari*/
    -o-transition: all 0.4s;  /* Opera*/
    -moz-transition: all 0.4s;  /* Firefox*/
    transition: all 0.4s; /* Standard syntax */
}
@mixin buttonRaised-Secundary{
    margin: 8px 0px;
    background-color: $color-primary;
    border: solid 1px $window-background;
    color: $white-color;
    border-radius: 0px;
    //height: 36px;
    text-transform: uppercase;
    font-size: 12px;
}
@mixin buttonFloatAction-Card{
    width: 48px;
    height: 48px;
    background-color: $color-primary;
    position: absolute;
    z-index: 11; 
    top: 196px; 
    left: 1; 
    right: 20px; 
    bottom: 0;
    border-radius: 99px;
    text-align: center;
    color: $white-color;
    padding-top: 11px;
    font-size: 24px;
    border: 0px;
}
@mixin buttonFloatAction-Gotop{
  position: fixed;
  bottom: 48px;
  right: 24px;
  text-decoration: none;
  color: $white-color;
  background-color: $accentColor;
  font-size: 24px;
  width: 56px;
  height: 56px;
  padding: 16px;
  display: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
  -webkit-background-size: 200% 200%;
  background-size: 200%;
  background-position: 50%;
  -webkit-transition: all 0.4s; /* Chrome, Safari*/
  -o-transition: all 0.4s;  /* Opera*/
  -moz-transition: all 0.4s;  /* Firefox*/
  transition: all 0.4s; /* Standard syntax */
  z-index: 99;
}
@mixin buttonFlat{
  @include fontCaption-Button;
  background-color: $content-background;
  height: 36px;
  padding: 0px;
  line-height: 3;
  border-radius: 0px;
}
@mixin buttonFlat-Userbar{
  @include fontCaption;
  height: 36px;
  border-radius: 0px;
  background-color: $white-color;
  border: 0px;
  padding: 0px;
}
/************************ Imagenes ************************/
@mixin img-Userbar{
  height: 20px;
  width: 20px;
  margin-right: 4px;
  border-radius: 50%;
}
@mixin img-Usercomment{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@mixin img-Captcha{
  width: 155px;
  height: 36px;
}
/************************ Distintivos/Badges ************************/
@mixin badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    @include fontPrimary-Light;
}
/************************ Controles de selección ************************/
@mixin  selectionControls{
  padding-left: 18px;
  height: 32px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  vertical-align: middle;
  cursor: pointer;
}
/************************ Paneles ************************/
@mixin panel-Title{
    min-height: 36px;
    background-color: $panelHead-color;
    border-radius: 0px;
    padding: 8px 16px;
    @include fontButton-Block;
}
@mixin panelContainer{
    background-color: $content-background;
    border: solid 1px $border-color;
}
@mixin panelCollaboration{
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    @include border;
    background-color: $content-background;
    margin-bottom: 20px;
}
@mixin cardBackground{
  height: 270px;
  background-size: cover;
  padding: 0px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
}
/************************ Genéricos ************************/
@mixin  hr{
  border: 0;
  border-top: solid 2px  $border-color;
  margin-top: 0px;
  margin-bottom: 16px;
}
@mixin border{
  border: solid 1px $border-color;
  border-radius: 0px;
}
@mixin input{
  width: 100%;
  height: 36px;
  padding: 8px;
  background-color: $content-background;
  @include border;
  @include fontLink;
}
@mixin inputFocus{
  border-bottom: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  outline: 0px;
  border: 0px;
}
@mixin textarea{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    border-bottom: solid 1px $border-color;
    @include fontLink;
}
@mixin select{
    height: 36px;
    padding: 8px;
    background-color: $content-background;
    @include border;
    @include fontLink;
}
@mixin fullBackground($color, $image) {
    background: $color url($image) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*****************************************************************/

@font-face {
    font-family: Roboto;
    src: url(#{$fontPath}/Roboto/Roboto-Regular.ttf) format("truetype");
}
 html, body{
    font-family: Roboto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#swbp-fondo-400{
    @include fullBackground($window-background-400, "400-img.png");
}
#swbp-fondo-403{
    @include fullBackground($window-background-400, "403-img.png");
}
#swbp-fondo-404{
    @include fullBackground($window-background-400, "404-img.png");
}
#swbp-fondo-500{
    @include fullBackground($window-background-400, "500-img.png");
}
#SWB-PROCESS{background-color: $navigationBar-color;}

.container{
    width: 100%;
    min-height: 100%;
    position: relative;
}
.swbp-logo-400 {
    text-align: center;
    margin: 100px 0px;
    
    img{
        width: 300px;
        height: 300px;
    } 
    
    img.swbp-img-400{
        width: 500px;
        height: 300px;
    }    
}
.hidden-margin{
 margin: 0px !important;   
}
.hidden-padding{
 padding: 0px !important;   
}
.swbp-mup{
    margin-bottom: 100px;
}
.tooltip {
    text-transform: uppercase;
    font-size: 11px;
}
/************************* MEDIA QUERIES *************************/

/*Escritorio grande - LG en Boostrap mayor a 1200px ***********************************************************/
@media (min-width: 1200px){
    
    h1{
        color:blue;
    }
    .swbp-align-icon{
        width: 14% !important;
    }
    .swbp-align-text{
        width: 86%; 
        padding-left: 10px !important;
    }
    .swbp-list-text {
        padding: 8px;
        background-color: $content-background;
        min-height: 36px;
        @include fontPrimary;
        max-height: 36px;
        overflow: hidden;
        line-height: 1.8;
    }
    
}

/* Escritorio pequeño o tablet - MD en Boostrap del 992 al 1199px *********************************************/
@media (min-width:992px) and (max-width:1199px){
    
    h1{
        color:red;
    }
    .swbp-footer-menu{
        height: 50px !important;
    }
    .swbp-align-icon{
        width: 14% !important;
    }
    .swbp-align-text{
        width: 86%; 
        padding-left: 10px !important;
    }
    .swbp-list-text {
        padding: 8px;
        background-color: $content-background;
        min-height: 36px;
        @include fontPrimary;
        max-height: 36px;
        overflow: hidden;
        line-height: 1.8;
    }
    
}
    
/* Tablet o smartphone - SM en Bootstrap del 768 al 991px *****************************************************/
@media (min-width:768px) and (max-width:991px){
    
    h1{
        color:green;
    }
    .swbp-brand-header img {
        width: 100px !important;
    }
    
    
    .MENU-COLAPSABLE {
        ul{
            li.active {
                height: 96px !important;
            }
            li {
                height: 96px !important;
            }
        }
    }    
    
    .swbp-menu-text {
        text-align: center; 
        padding: 15px 0px 0px 0px !important;
    }
    .swbp-menu-icon {
        font-size: 36px !important;
    }
    .swbp-footer-menu{
        height: 50px !important;
    }
    .swbp-titulo{
        padding: 10px 24px 0px 24px !important;
    }
    .swbp-contenido {
        padding: 0px 24px 24px !important;
    }
    .swbp-list-element {
        margin-bottom: 6px!important;
    }
    .swbp-toolbar-model {
        padding-left: 2% !important;
    }
    .swbp-button-tool {
        width: 11.11% !important;
    }
    
    .swbp-table-responsive .table tbody tr {
        td[data-title]:before{
            color: $color-primary;
            width: 30%;
            text-align: left;
            min-height: 20px;
        }

        td.swbp-action-table[data-title]:before{
            padding-left: 16px;
            padding-top: 8px;
        }  
    }
    
    .swbp-table-responsive tbody tr{

        td {
                border-bottom: solid 1px $border-color;
                border-bottom: solid 1px $border-color;
                border-top: 0px !important;
                border-left: 0px !important;
                border-right: 0px !important;

                textarea.swbp-form-control{
                        width: 70%;
                    }        
            }

        td.swbp-button-table a.btn {
                width: 70%;
            }  
        td.swbp-action-table a{
                width: 22%; margin: 8px 0px;
            }    
    }
    
    .swbp-align-icon{
        width: 11% !important;
    }
    .swbp-align-text{
        width: 89%;
    }
    .swbp-collaboration-p{ 
        margin: 16px 0px !important;
    }
    .swbp-comment-user{
        text-align: left;
    }
    .swbp-captcha input{
        margin-bottom: 16px;
    }
    
    .swbp-modal .swbp-table-responsive tbody tr td textarea.swbp-form-control {
        text-align: right !important;
    }
    .swbp-list-action{
        margin-bottom: 6px;
    }
    .swbp-list-text {
        padding: 8px;
        background-color: $content-background;
        min-height: 36px;
        @include fontPrimary;
        max-height: 36px;
        overflow: hidden;
        line-height: 1.8;
    }   
    
}

/* Smartphone - XS en Bootstrap del 0 al 767px *****************************************************************/
@media (max-width:767px){  
    
    h1{
        color:yellow;
    }
    H3{
        font-size: 16px !important;
    }
    H4{
        font-size: 16px !important; margin: 12px 0px !important;
    }
    p{
        font-size: 12px !important;
    }
    .swbp-logo-400 {
        margin: 30px 0px;
    }
    .swbp-paqua {
        padding: 16px 0px !important;
        
        p{
            margin: 16px 0px 0px 0px !important;
        }        
    }
    
    .swbp-input-group {
        margin: 16px 0px 0px 0px !important;
    }
    .swbp-espacio {
        padding-top: 24px !important;
    }
    
    .swbp-logo-400{
        img{
            width: 170px; height: 170px;
        }   
        img.swbp-img-400{ 
        width: 260px; height: 100px;
        }
    }
    

    .swbp-menu{
        min-height: inherit !important;
        
        .navbar {
            margin-bottom: 0px !important;
        }
    }
    .swbp-footer-menu {
        position:relative;
    }
    .swbp-titulo {
        font-size: 18px !important; 
        padding: 6px 24px 0px 24px !important; 
        height: 36px !important;
        padding: 5px 16px 0px 16px !important;
    }
    .swbp-header-menu{
        height: 48px !important;
    }
    .swbp-bars{
        margin: 0px !important; 
        padding: 14px !important;
    }
    
    
    .swbp-brand-header {
        width: 80% !important;
        height: 48px !important; 
        background-color: $process-color; 
        background-image: url(#{$imgPath}/background-menu-xs.png) !important;
        padding-top: 10px;
        
        img {
            padding-top: 0px !important;
        }    
        
    }
    
    .swbp-btn-header button{
        text-align: left; 
        padding-left: 24px !important;
    }
    .swbp-pad{
        padding: 0px !important;
    }
    .swbp-btn-block {
        margin: 6px 0px !important;
    }
    .swbp-contenido {
        padding: 0px 16px 16px !important;
    }
    .swbp-toolbar-model {
        padding-left: 0% !important;
    }
    .swbp-button-tool {
        width: 16.8% !important;
    }
    .swbp-panel-body{
        padding: 0px 16px 60px !important;
    }
    
    .swbp-table-responsive{
        .table tbody tr{
             td[data-title]:before{
                color: $color-primary;
                font-size: 14px;
                line-height: 32px;
                 background-color: transparent;
            }
             td.swbp-action-table[data-title]:before{
                padding-left: 16px;
                padding-top: 8px;
            }  
            td{
                text-align: left;
                min-height: 36px;
                padding: 6px 16px;
                @include fontPrimary;
                line-height: 24px;
            }
        } 
        
        tbody tr td.swbp-action-table a{
            width: 32%; margin-bottom: 8px;
        }
    }

    .swbp-align-icon{
        width: 17% !important;
    }
    .swbp-align-text{
        width: 83%; 
        padding-left: 5px !important;
    }
    .swbp-title-xs{
        margin-bottom: 6px;
    }
    .swbp-list-action{
        margin-bottom: 6px;
    }
    .swbp-collaboration-p{ 
        margin: 10px 0px !important;
    }
    .swbp-comment-user{
        text-align: left;
    }
    
    .swbp-panel-foro {
        .panel-heading {
            padding: 16px 0px 0px 0px !important;
        }  
        .swbp-comment-user {
            padding: 0px 0px 0px 16px !important;
        }
        h2 {
            padding: 8px 16px 10px 70px !important;
        }
        .property-user {
            padding: 0px 16px !important;
        }
        .swbp-comment-user-foro{
            padding: 0px !important;
        }
        .prouser-xs{ 
            padding: 0px!important;
        }
    }
    
    .swbp-captcha{
        img{
            width: 260px !important; 
            height: 60px !important; 
        }
        input{
            margin: 16px 0px;
        }  
    }
    
    .accion1 {
        border-top: solid 1px $border-color !important;
    }
    .swbp-row-table{
        margin-bottom:0px ;
    }
    
    .swbp-modal-property{
        text-align: left !important;
    }
    .modal-dialog{
        margin: 32px;
    }
    .swbp-list-date{
        text-align: left !important;
    }
    .swbp-btn-filter {
        margin-top: 10px;
    }
    .modal .modal-body .swbp-captcha img {
        width: 100% !important; 
        height: 60px !important;
    }

}
/************************* GENERICOS *************************/

H1{
    @include fontPrimary-High;
    margin: 8px 16px;
    text-transform: uppercase;
}

H6{
    @include fontLink;
    margin: 16px 0px;
}

p{
    font-size: 14px;
}

.swbp-header-icon {
    font-size: 16px;
}

H4{
  @include fontSubhead;
}

H3{
    font-size: 24px;
}

H5{
    font-weight: bold;
    color: $black-color;
    margin: 16px 0px 10px;
}

hr {
    @include hr;
    
}

.swbp-height {
    height: 100%;
}
.swbp-top{
    background-color: $window-background;
}
.swbp-panel-body hr{
    @include hr;
}



/************* Controles de selección ******************/

label.css-label{
	background-image: url(#{$imgPath}/activar.svg);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select:none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=radio].css-checkbox{
	display: none;
}
input[type=radio].css-checkbox + label.css-label{
	@include selectionControls;
}
input[type=radio].css-checkbox:checked + label.css-label{
	background-position: 0 -24px;
}

input[type=checkbox].css-checkbox{
	display: none;
}
input[type=checkbox].css-checkbox + label.css-label{
	@include selectionControls;
}
input[type=checkbox].css-checkbox:checked + label.css-label{
	background-position: 0 -24px;
}

/************************* PLECA AQUA *************************/
.swbp-paqua {
    color: $white-color;
    background-color: $color-primary;
    position: relative; 
    padding: 24px 0px;
    
    H3 {
        padding: 0px;
        margin: 0px;
    }   
    p{
        margin: 24px 0px 0px 0px;
    }     
}
#swbp-fondo-400 .swbp-paqua p{
    margin: 0px;
}
.swbp-input-group {
    padding: 2px 0px;
    margin: 24px 0px 0px 0px;
    
    span{
    background-color: $iconLogin-color;
    color: $white-color;
    @include border;
    }
   
    input {
        @include border;
        background-color: $content-background;
        height: 36px;
        color: $iconLogin-color;
    }    
}
.swbp-icon-fa {
    display: table-ceLl;
}
/************************* BOTONES DE ACCIÓN RÁPIDA *************************/
.swbp-raised-button {
    height: 48px;
    //background-color: $window-background;
    padding: 0px;   
}
/************************* BOTONES EN BLOQUE *************************/
.swbp-btn-block {
    @include buttonRaised;
    
    &:active {
        background-color: $color-primaryLink;
        
        background-image: -webkit-radial-gradient(circle, $color-primaryLink-Click 10%, $color-primaryLink 11%); /* Chrome, Safari*/
        background-image: -o-radial-gradient(circle, $color-primaryLink-Click 10%, $color-primaryLink 11%); /* Opera 11.6 to 12.0 */
        background-image: -moz-radial-gradient(circle, $color-primaryLink-Click 10%, $color-primaryLink 11%); /* Firefox 3.6 to 15 */
        background-image: radial-gradient(circle, $color-primaryLink-Click 10%, $color-primaryLink 11%); /* Standard syntax */
        background-repeat: no-repeat;
        -webkit-background-size: 1000% 1000%;
        background-size: 1000%;
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    
    &:hover{
        background-color: $color-primaryLink;
        color: $white-color;
    }
    
    &:focus, &:active:focus{
        background-color: $color-primaryLink-Click;
        color: $white-color;
        outline: 0px;
    }
}

/************************* FOOTER *************************/
.swbp-footer {
    width: 100%;
    height: 36px;
    text-align: center;
    background-color: $navigationBar-color;
    line-height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    
    p{
        @include fontMinimum;
        margin: 0px;
    }
}
.swbp-espacio {
    padding-top: 36px;
    padding-bottom: 72px;
}
.swbp-footer-xs {
    float: left;
    width: 100%;
    height: 36px;
    text-align: center;
    background-color: $navigationBar-color;
    @include fontMinimum;
    
    p{
    padding: 8px 0px 0px 0px;
    }
    
}
/************************* MENU PRINCIPAL *************************/
.swbp-menu {
    background-color: $navigationBar-color;
    padding: 0px;
    min-height: 100%;
    position: relative;
    
    .navbar {
        margin-bottom: 38px;
        border: 0px;
        background-color: $process-color;
        background-image: url(#{$imgPath}/background-menu.png);
    }    
    
    .navbar-collapse {
        border: 0px;
    }    
}
.swbp-header-menu {
    width: 100%;
    height: 96px;
    background-color: $process-color;
    background-image: url(#{$imgPath}/background-menu-xs.png);
}
.swbp-brand-header {
    width: 100%;
    height: 96px;
    text-align: center;
    background-color: $process-color;
    background-image: url(#{$imgPath}/background-menu.png);
    
    img{
        display: inline;
        padding-top: 16px;
        width: 136px;
    }       
}

.MENU-COLAPSABLE{
    padding: 0px;   
    
    ul{
        width: 100%;
        
        li {
            width: 100%;
            
            a {
                padding: 0px;
                background-color: $navigationBar-color;
                color: $textColor-Secundary !important;
                
                &:hover {
                    background-color: $navigationBar-colorActive !important;
                    color: $white-color !important;
                }                
            }
        } 
        
        li.active a {
            background-color: $navigationBar-colorActive !important;
            color: $white-color !important;
        }        
    }   
}

.swbp-fa-menu:before {
    font-size: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
}
.swbp-footer-menu{
    background-color: $navigationBar-color;
    height: 36px;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    
    p{
    @include fontMinimum;
    padding-top: 13px;
    }
}

.swbp-bars{
    color: $border-color;
    background-color: $process-colorBar !important;
    border: 0px;
    margin: 16px;
    
    span.icon-bar {
        background-color: $white-color !important;
        width: 26px;
        height: 4px;
        border-radius: 4px;
    }   
}
/************************* MENU construído con columnas *************************/
.swbp-menu-icon {
    @include iconMenu
}
.swbp-menu-text {
    font-size: 14px;
    padding: 15px 15px 0px 0px;
    
    span.badge {
        background-color: $color-primary-Click;
        color: #fff;
        margin-left: 5px;
    }
}
.MENU-COLAPSABLE{
    ul{
        li.active {
            background-color: $navigationBar-colorActive !important;
            color: $white-color !important;
            height: 48px;
        }
        
        li{
            background-color: $navigationBar-color;
            height: 48px;
            
            &:hover{
                background-color: $navigationBar-colorActive;
            }            
        }        
        
    }
    
    ul.navbar-nav {
        margin: 0px;
    }    
}
/************************* HEADER *************************/
.swbp-header {
    height: auto;
    background-color: $white-color;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12);
    position: relative;
    z-index: 3;
}
.swbp-btn-header{
    padding: 0px;
    
     button{
        @include buttonFlat-Userbar;
         
        &:active{
            color: $white-color;
            background-color: $color-primary-Click;
            border: 0px;
            outline: 0px;
        }   
        &:hover{
            color: $white-color;
            background-color: $color-primary;
        }         
        &:focus{
            color: $white-color;
            background-color: $color-primary-Click;
            outline: 0px;
        }   
        &:active:focus{
            outline: 0px;
        }         
    }   
}

.swbp-img-user {
    @include img-Userbar;
}
/************************* MENU XS *************************/
.MENU-COLAPSABLE-XS {
    padding: 0px;
    border: 0px;
}
.swbp-menu-xs {
    height: 48px;
    padding: 0px;
    
    .navbar{
        margin-bottom: 0px;
        border: 0px;
    }    
    
    ul{
        margin: 0px;
        background-color: $navigationBar-color;
        
        li{
            padding: 0px;
            
             a{
                height: 48px;
                font-size: 20px;
                color: $textColor-Secundary !important;
                background-color: $navigationBar-color;
                padding-top: 14px;
                 
                &:hover, &:focus, &:active:focus{
                    background-color: $navigationBar-colorActive !important;
                    outline: 0px;
                    color: $white-color !important;
                }
            }           
        }
        
        li.active a{
            background-color: $navigationBar-colorActive !important;
            outline: 0px;
            color: $white-color !important;
        }   
    }    
}
/************************* TITULO *************************/
.swbp-pad{
    padding: 0px 15px 0px 0px;
    margin: 0px;
}
.swbp-titulo {
    @include fontHeadline;
    
    span {
        color: $border-color;
    }    
}
/************************* CONTENIDO PRINCIPAL *************************/
.swbp-contenido {
    background-color: $window-background;
    min-height: 100%;
    padding: 0px 40px 24px 40px;
}
/************************* ENCABEZADOS PANEL *************************/
.swbp-panel-head{
    margin-bottom: 8px;
    border: 0px;
    box-shadow: none;
    background-color: transparent;
    margin-top: 16px !important;
    
    .panel-heading{
        @include panel-Title;
    }        
}
/************************* MODELO DEL PROCESO *************************/
.btn-toolbar {
    margin-left: 0px;
}
.swbp-toolbar-model{
    width: 100%;
    padding-left: 10%;
    margin: 14px 0px !important;
}
.swbp-button-tool {
    width: 10%;
    height: 36px;
    @include panelContainer;
    color: $textColor-Secundary;
    padding: 6px 12px;

    &:hover, &:active, &:focus, &:active:focus {
        background-color: $white-color;
        border: solid 1px $border-color;
        color: $color-primary;
        outline: 0px;
    }
}
#swbp-model-container{
    text-align: center;
    max-height: 500px;
    overflow: scroll;
    margin-bottom: 16px
}
/************************* ENCABEZADOS PANEL COLAPSABLE *************************/
.swbp-panel-head .panel-heading .pull-right a.accordion-toggle{
    color: $white-color;
    text-decoration: none;
}

#SWBP-MENU-PROCESO .list-group{
    a {
        @include panelContainer;
        @include fontSecundary;
        min-height: 36px;
        padding: 8px 32px;
        text-transform: uppercase;
        
        &:hover, &:active, &:focus   {
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
        }        
    }  
    
    a.active {
        background-color: $white-color;
        color: $color-primary;
    }    
}
/************************* PANEL BODY - INFORMACIÓN DEL PROCESO *************************/
.swbp-panel-body{
    padding: 0px 32px 60px;
    background-color: $content-background;
    margin-top: 16px;
    
    p{
        @include fontPrimary;
        line-height: 1.5;
        text-align: justify;
    }
    
}
.swbp-panel-body-card{
    padding: 16px 32px;
    background-color: $content-background;
}
/************************* PANEL ELEMENTOS RELACIONADOS *************************/
.swbp-panel-related{
    margin-bottom: 16px;
    
    .panel-heading{
        background-color: $content-background;
        @include fontLink;
        text-transform: uppercase;
        min-height: 36px;
        padding: 8px 16px;
        
        .pull-right a.accordion-toggle{
            color: $color-primaryLink;
            text-decoration: none;
            
            &:focus{
                outline: 0px;
            }            
        }        
    } 
    
    .list-group a{
        background-color: $white-color;
        @include fontSecundary;
        text-decoration: none;
        border: 0px;
        padding: 9px 16px;
        
        &:hover, &:active{
            background-color: $white-color;
            color: $color-primaryLink;
            text-decoration: underline;
        }   
        
        &:focus{
            outline: 0px;
        }
    }    
}
/************************* ELEMENTOS RELACIONADOS TABLA *************************/

ul#relatedTab {
    margin-bottom: 16px;
}

.swbp-related{
    margin: 0px;
    
    ul li a{
        background-color: $content-background;
        @include fontLink;
        text-transform: uppercase;
        min-height: 36px;
        padding: 8px 16px;
        @include border;
        
        &:hover, &:active, &:focus{
            background-color: $color-primaryLink !important;
            color: $content-background;
            font-size: 13px;
            text-transform: uppercase;
            min-height: 36px;
            padding: 8px 16px;
            outline: 0px;
            @include border;
            
        }        
    }  
    
    ul li.active a{
        background-color: $color-primaryLink;
        color: $content-background;
        font-size: 13px;
        text-transform: uppercase;
        min-height: 36px;
        padding: 8px 16px;
        @include border;
        
        &:hover{
            background-color: $color-primaryLink;
            color: $content-background;
            font-size: 13px;
            text-transform: uppercase;
            min-height: 36px;
            padding: 8px 16px;
            @include border;
        }        
    }    
}

.swbp-contenido .swbp-panel-body h6{
    margin: 16px;
}
/************************* TABLA RESPONSIVA *************************/
.shadow-z-1 {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12);
}

.swbp-table-responsive {
    
    thead tr th {
        color: $color-primary;
        font-size: 14px;
        min-height: 36px;
        padding: 8px 16px;
        vertical-align: text-top;
        border: solid 1px $border-color !important;
    }    
    
    tbody tr {
        
        td {
            border: solid 1px $border-color;
            @include fontPrimary;
            padding: 8px 16px;
            vertical-align: middle;
            
            textarea.swbp-form-control{
                text-align: center;
            }
        }  
        
        td.text-center{
            text-align: center;
        }      
        
        td.swbp-button-table a{
            width: 100%;
        }  
        
        td.swbp-button-table a.btn{
            padding: 0px;
            border: 0px;
            line-height: 36px;
            color: $textColor-Secundary;
            
            &:hover, &:focus, &:active{
                background-color: $white-color;
                color: $color-primary;
                outline: 0px;
                -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
                box-shadow: inset 0 3px 5px rgba(0,0,0,0);
            }            
            
            span{
                font-family: roboto;
            }           
            
        } 
        
        td.swbp-action-table{
            padding: 0px;
            vertical-align: middle;
            text-align: center;
            
            a{
                color: $textColor-Secundary;
                border: 0px;
                font-size: 14px;
                
                &:hover, &:active, &:focus, &:active:focus{
                    background-color: $white-color;
                    color: $color-primary;
                    outline: 0px;
                    box-shadow: none;
                }                
                
            }            
        }        
        
    }
    
}


.table-hover>tbody>tr:hover, .table-hover>tbody>tr:focus {
    background-color: $white-color;
    outline: 0px;
}
/************************* ELEMENTOS EN LISTA *************************/
.swbp-list-element {
    min-height: 36px;
    margin: 0px;
    margin-bottom: 6px;
}
.swbp-list-title{
    padding: 0px;
    @include panelContainer;
}
.swbp-list-icon{
    @include iconList;
    background-color: $content-background;
}
.swbp-list-number{
    padding: 8px 0px 0px 0px;
    text-align: center;
    background-color: $content-background;
    min-height: 36px;
    color: $accentColor;
}
.swbp-list-text{
    padding: 8px;
    background-color: $content-background;
    min-height: 36px;
    @include fontPrimary;
}
.swbp-list-date{
    padding: 10px 8px 8px 8px;
    background-color: $content-background;
    min-height: 36px;
    @include fontProperty;
    text-align: center;
}
.swbp-list-action{
    padding: 0px;
    border: solid 1px $border-color;
    
    a{
        color: $textColor-Secundary;
        background-color: $content-background;
        border: 0px;
        min-height: 36px;
        border-radius: 0px;
        border-right: solid 1px $border-color;
        padding: 0px;
        
        &:hover, &:active, &:focus, &:active:focus{
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
        }        
    } 
    
    .fa {
        padding: 10px 0px 0px 0px;
    }    
}
.swbp-list-action-text {
    text-align: left;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
}
.btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled]:active:focus{
    color: $border-color;
    background-color: $content-background;
    border-right: solid 1px $border-color;
}
/** ELEMENTOS DE LISTA EN BLOQUES PARA TEXTOS LARGOS **/
.swbp-block-list{
    margin: 0px;
    margin-bottom: 6px;
    @include panelContainer;
}
.swbp-block-title{
    padding: 0px;
    border-right: solid 1px $border-color;
}
.swbp-block-icon{
    @include iconList;
}
.swbp-block-text{
    padding: 8px;
    min-height: 36px;
    @include fontPrimary;
}
.swbp-block-action{
    padding: 0px;
    
    a{
        color: $textColor-Secundary;
        background-color: $content-background;
        border: 0px;
        min-height: 36px;
        border-radius: 0px;
        padding: 0px;
        
        &:hover, &:active, &:focus, &:active:focus{
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
        }        
    } 
    
    .fa {
        padding: 10px 0px 0px 0px;
    }    
    
}
.swbp-block-action-text {
    text-align: left;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
}
/************************* BREADCRUMS *************************/
.swbp-breadcrumbs {
    min-height: 48px;
    background-color: $window-background;
    padding: 0px;
    @include fontCaption; 
    
    ol.breadcrumb {
        margin-bottom: 0px;
        background-color: transparent;
        padding: 14px 24px 0px 0px;
    }    
}

.breadCrumbHolder {
    margin: 0px;
}

.breadCrumb {
    padding: 14px 10px 0px 0px;
    border: 0px;
    background: transparent;
    height: auto;
    
    ul li{
        height: auto;
        background: url(#{$imgPath}/ChevronOverlayProcess.png) no-repeat 100% 0;
    }   
    
    ul li.first a
    {
        width:0px !important;
        background:none;
    }    
    
    ul li.last
    {
        background:none;
    }    
    
    ol li{
        height: auto;
        background: url(#{$imgPath}/ChevronOverlayProcess.png) no-repeat 100% 0;
    } 
    
    ol li.first a
    {
        width:0px !important;
        background:none;
    }  
    
    ol li.last
    {
        background:none;
    }    
}
/************************* BOTON PARA SUBIR CON SCRIP *************************/
.go-top {
    @include buttonFloatAction-Gotop;

    &:active{
        background-color: $accentColor-Click;
        color: $white-color;
        background-image: -webkit-radial-gradient(circle, $accentColor-Click 10%, $accentColor 11%); /* Chrome, Safari*/
        background-image: -o-radial-gradient(circle, $accentColor-Click 10%, $accentColor 11%); /* Opera 11.6 to 12.0 */
        background-image: -moz-radial-gradient(circle, $accentColor-Click 10%, $accentColor 11%); /* Firefox 3.6 to 15 */
        background-image: radial-gradient(circle, $accentColor-Click 10%, $accentColor 11%); /* Standard syntax */
        background-repeat: no-repeat;
        -webkit-background-size: 1000% 1000%;
        background-size: 1000%;
        outline: 0px;
    }
    &:hover{
        background-color: $accentColor-Click;
        color: $white-color;
        text-decoration: none;
    }
    &:focus{
        background-color: $accentColor-Click;
        color: $white-color;
        text-decoration: none;
        outline: 0px;
    }
}
/************************* PAGINACIÓN  *************************/
.swbp-pagination-title {
    height: 32px;
    @include panelContainer;
    padding: 8px 16px;
    margin-top: 16px;
    @include fontProperty;
}
.swbp-pagination-number {
    padding: 0px;
    
    ul.pagination {
        padding: 0px;
        margin: 16px 0px 90px 0px;
        border-radius: 0px;
        width: 100%;
        
        li a{
            height: 32px;
            @include panelContainer;
            color: $textColor-Secundary;
            text-align: center;
            width: 11.11%;
            margin-left: 0.01px;
            
            &:hover, &:focus{
                background-color: $color-primary;
                color: $white-color;
                outline: 0px;
                border: solid 1px $border-color;
            }

        }    

        li.active a{
            background-color: $color-primary;
            color: $white-color;
            outline: 0px;
            border: solid 1px $border-color;
            
            &:focus{
                background-color: $color-primary;
                color: $white-color;
                outline: 0px;
                border: solid 1px $border-color;
            }            
        }
            
                
    }    
}
/************************* COLABORACIÓN  *************************/
.swbp-collaboration-p{
    margin: 32px 0px;
}
.swbp-card-blog{
    @include cardBackground;
    background-image: url(#{$imgPath}/blog.jpg);
    margin-bottom: 24px;
}
.swbp-card-forum{
    @include cardBackground;
    background-image: url(#{$imgPath}/foro.jpg);
    margin-bottom: 64px;
}
.swbp-card-background{
    height: 222px;
}
.swbp-card-fondo{
    background-color: $black-color; 
    position: absolute; 
    z-index:9; 
    top:222; 
    left:0; 
    right:0; 
    bottom:0; 
    opacity:0.5; 
    height:48px;
}
.swbp-card-texto{
    position: absolute; 
    z-index: 10; 
    color: $white-color;  
    padding: 10px 16px; 
    font-size: 18px; 
    height:48px;   
}
.swbp-card-boton{
    @include buttonFloatAction-Card;
    
    &:hover, &:active, &:focus, &:active:focus{
        background-color: $color-primary-Click;
        color: $white-color;
        outline: 0px;
    }    
}
/******************** BLOG ********************/
.swbp-panel-blog{
    @include panelCollaboration;

    h2{
        @include fontTitle;
        padding: 13px 16px;
    }
    
    .panel-heading{
        padding: 0px;
        background-color: $content-background;
        border-radius: 0px;
        border-bottom: solid 1px $border-color;
    }    
    
    .property-user{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        padding: 0px 16px;
        font-style: italic;
    }   
    
    .property{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        padding: 0px;
        font-style: italic;

        span{
            min-height: 24px;
            @include fontCaption;
            line-height: 2;
            font-family: Roboto;
        }
    
    }
    
    .panel-body{
        padding: 16px;

        p{
            @include fontPrimary;
        }      
    }
    
    .panel-footer{
        //height: 36px;
        padding: 0PX;
        background-color: $content-background;
        border-top: solid 1px $border-color;
        border-radius: 0px;
    }
}

.swbp-panel-blog-button{
    padding: 0px;
    
     a {
        @include buttonFlat;

            &:hover, &:active, &:focus, &:active:focus {
                background-color: $white-color;
                color: $color-primary;
                outline: 0px;
                border: solid 1px $border-color;
            }         
         
            .icon{
                padding: 11px 0px 0px 0px;
            } 
         
            .text{
                padding: 0px;
                text-align: left;
                text-transform: uppercase;
            }         
        }   
    
    button{
        @include buttonFlat;
        
            &:hover, &:active, &:focus, &:hover:active:focus{
                background-color: $white-color;
                color: $color-primary;
                outline: 0px;
                border: solid 1px $border-color;
            }        
    }    
}

.swbp-blog-post-comment{
    padding: 16px;
    @include panelContainer;

    form{
        
        .form-group{
            margin-bottom: 16px;
        }   
        
        label {
            margin-bottom: 0px;

            h6{
                padding: 9px 0px;
                margin: 0px 0px 7px;
            }    
        }        
    }
    
}

textarea.swbp-form-control{
    border-radius: 0px;
    padding: 8px 16px;
    @include textarea;
    
    &:focus{
        border-bottom: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }    
}

.swbp-comment{
    padding: 16px;
    @include panelContainer;
    margin: 0px;
    border-top: 0px;

    h6{
        margin: 9px 0px 0px;
    }
    p{
        margin: 16px 0px;
    }

    .property-user{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        padding: 0px;
        font-style: italic;
        width: 100%;
    }
}

.swbp-comment-user{
    padding: 4px 0px;
    
    img{
        @include img-Usercomment;
    }   
}
/******************** FORO ********************/
.swbp-panel-foro{
    @include panelCollaboration;
    
    h2{
        @include fontTitle;
        padding: 0px 0px 10px;
    }  
    h1{
    margin: 8px 0px;
    }
    
    .panel-heading{
        padding: 16px 0px 0px 16px;
        background-color: $content-background;
        border-radius: 0px;
        border-bottom: solid 1px $border-color;
    }

    .swbp-comment-user{
        padding: 0px;
    }
    
    .swbp-comment-user-foro{
        text-align: center;
    }

    .property-user{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        padding: 0px 16px 0px 0px;
        font-style: italic;
    }

    .property{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        padding: 0px;
        font-style: italic;
        
        span{
        min-height: 24px;
        @include fontCaption;
        line-height: 2;
        font-family: Roboto;
        }    
    }
    
    .panel-body{
        padding: 16px;
        
         p{
            @include fontPrimary;
          } 
        
         .swbp-comment{
            border: solid 1px $border-color;
          } 
    }  
    
    .panel-footer{
        //height: 36px;
        padding: 0PX;
        background-color: $content-background;
        border-top: solid 1px $border-color;
        border-radius: 0px;
    }    
}


.swbp-panel-foro-button{
    padding: 0px;
    
    a {
        @include buttonFlat;

        &:hover, &:active, &:focus, &:active:focus {
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
            border: solid 1px $border-color;
        }        
        
        .icon{
            padding: 11px 0px 0px 0px;
            }        
        
        .text{
            padding: 0px;
            text-align: left;  
            text-transform: uppercase;
        }        
      }   
    
    button{
        @include buttonFlat;
        
        &:hover, &:active, &:focus, &:hover:active:focus{
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
            border: solid 1px $border-color;
        }       
    }    
}


.swbp-captcha {
    padding: 0px;
    
    img{
        @include img-Captcha;
    }  
    
    input{
        @include input;

        &:focus{
            @include inputFocus;
        }
    }    
}


.swbp-foro-post-comment{
    padding: 16px;
    @include panelContainer;
    
    form{

        .form-group{
            margin-bottom: 16px;
        }     
        
        label {
            margin-bottom: 0px;
            
            h6{
                padding: 9px 0px;
                margin: 0px 10px 7px 0px;
            }            
        }       
    } 
    
}

.swbp-panel-body input {
    @include input;
    
    &:focus{
        @include inputFocus;
    }    
}
/******************** TEXTOS LARGOS ********************/
.swbp-row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 6px;
    
    .swbp-list-icon{
        padding: 0px;
        color: $accentColor;
        font-size: 20px;
        @include panelContainer;
    }  
    
    .swbp-list-text{
         padding: 8px;
         @include fontPrimary;
         @include panelContainer;
    }    
}

.swbp-row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
    border-radius: 0px;
}

.accion1 {
    @include panelContainer;
    color: $textColor-Secundary;
    
    &:hover, &:active, &:focus, &:active:focus {
        background-color: $white-color;
        color: $color-primary;
        outline: 0px;
        box-shadow: none;
        border: solid 1px $border-color;
        margin-left: 1px;
    }   
    
    label {
        padding: 0px;
        background-position: 0px 0px !important;
    }  
    
    input[type=radio].css-checkbox + label.css-label {
        padding-left: 18px;
        height: 20px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0px -1px !important;
        vertical-align: middle;
        cursor: pointer;
    }    
    
    input[type=radio].css-checkbox:checked + label.css-label {
        background-position: 0 -29px !important;
    }    
}
/******************** PLANTILLAS ********************/
.swbp-panel-body-card input :not(.dijitInputInner) {
    @include input;
    
    &:focus{
        @include inputFocus;
    }
}

.swbp-btn-inter{
    margin: 8px 0px;
    background-color: $content-background;
    @include border;
    @include fontCaption-Button;
    height: 36px;
    
    span{
        font-size: 14px;
    }  

    &:hover, &:active, &:focus, &:active:focus{
        background-color: $white-color;
        color: $color-primary;
        border: solid 1px $border-color;
        outline: 0px;
    }
}

.swbp-btn-inter2{
    @include buttonRaised-Secundary;
    
    &:hover, &:active, &:focus, &:active:focus{
        background-color: $color-primary-Click;
        border: solid 1px $window-background;
        color: $white-color;
        outline: 0px;
    }
}

.swbp-select-multi{
    margin-bottom: 8px;
    background-color: $content-background;
    @include border;
    font-size: 13px;
    
    option{
        color: $panelHead-color;
    }    
}
.swbp-badge-in{
    @include badge;
    background-color: $color-primary;
}
.swbp-badge-out{
    @include badge;
    background-color: $textColor-Secundary;
}

.panel-footer{
    //height: 36px;
    padding: 0PX;
    background-color: $content-background;
    border-top: solid 1px $border-color;
    border-radius: 0px;
}

.swbp-panel-button{
    padding: 0px;
    
    a {
        @include buttonFlat;
        
        &:hover, &:active, &:focus, &:active:focus {
            background-color: $white-color;
            color: $color-primary;
            outline: 0px;
            border: solid 1px $border-color;
        } 
        
        .icon{
            padding: 11px 0px 0px 0px;
        }  
        
        .text{
            padding: 0px;
            text-align: left;
            text-transform: uppercase;
        }        
    }    
}

/******************** REPOSITORIO ********************/
.swbp-filters{
    
    label{
        color: $black-color;
        height: auto;
        padding: 9px 0px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0px;
    }   
    
    select{
        height: 36px;
        padding: 8px;
        background-color: $content-background;
        @include border;
        color: $color-primaryLink;
        font-size: 12px;
        text-transform: uppercase;
        
        &:focus{
            @include inputFocus;
        }    
    }    
}
/******************** VENTANAS MODALES ********************/
.swbp-modal{
    background-color: $content-background;
    border-radius: 2px;
    
    H1{
        font-size: 14px;
        text-transform: uppercase;
    }  
    .modal-header{
        background-color: $color-primaryLink;
        color: $white-color;
        min-height: 36px;
        padding: 12px 16px;
    }
    
    button.close{
        color: $white-color;
        opacity: 1;
        font-size: 16px;
        background-color: transparent;
        height: auto;
        line-height: 1;
        
        &:hover, &:active, &:focus, &:active:focus{
            color: $white-color;
            background-color: transparent;
            border: 0px;
        }        
    }  
    
    .modal-title{
        @include fontButton-Block;
    }    
    
    .modal-body{
        @include fontPrimary;
        padding: 16px;
        
        label.css-label{
            padding-top: 9px;
            padding-left: 24px !important;
        } 
        
        form .form-group{
            margin-bottom: 16px;
        }        
    }   
    
    input {
        @include input;
        
        &:focus{
            @include inputFocus;
        }        
    }    
    
    .modal-footer{
        border-top: solid 1px $border-color;
        padding: 0px;
    }    
    
    button{
        @include buttonFlat;

        &:hover, &:active, &:focus, &:active:focus{
            color: $color-primary;
            outline: 0px;
            background-color: $white-color;
            border: solid 1px $border-color;
        }        
    } 
    
    .table {
        margin-bottom: 0px;
    }  
    
    select{
        @include select;
        
        &:focus{
            @include inputFocus;
        }        
    }  
    
    .swbp-table-responsive tbody tr td textarea.swbp-form-control {
        text-align: left;
    }    
}


.swbp-modal-property{
    color: $black-color;
    font-weight: bold;
    text-align: right;
    height: auto;
    padding: 8px 16px;
}
.swbp-modal-value{
    height: auto;
    padding: 8px 16px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 0px;
}
.swbp-modal-textarea textarea {
    border-radius: 4px;
    padding: 8px;
    @include textarea;
}
/******************** BANDEJA ********************/
.swbp-btn-filter{
    @include panelContainer;
    color: $color-primaryLink;
    border-radius: 4px;
    height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    
    &:hover, &:active, &:focus, &:active:focus{
        @include panelContainer;
        color: $color-primaryLink;
        outline: 0px;
        box-shadow: none;
    }    
}

ul.swbp-btn-dropdown li a{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 20px;
    
    &:hover{
        background-color: $color-primaryLink;
        color: $white-color;
    }    
}

.swbp-filters ul{
    background-color: $content-background;
    
    li.dropdown-header {
        color: $color-primaryLink; 
    }   
    
    li a{
        background-color: $content-background;
        color: $textColor-Secundary;
        min-height: 32px;
        line-height: 1.8;
        
        &:hover{
            color: $color-primaryLink;
            background-color: $white-color;
        } 
        
        strong{
            font-weight: normal;
        }        
    }    
}

.swbp-input-tray{
    background-color: $content-background;
    margin: 0px 0px 10px 0px;
}
.swbp-tray-state-green{
    height: 3px;
    background-color: $finished-color; 
}
.swbp-tray-state-red{
    height: 3px;
    background-color: $pending-color;
}
.swbp-tray-state-blue{
    height: 3px;
    background-color: $aborted-color;
}
.swbp-tray-info{
    margin: 0px !important;
    border: solid 1px $border-color;
}
.swbp-tray-section{
    min-height: 36px;
    padding: 8px 16px;
    @include fontPrimary;
}
.swbp-tray-title{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px;
    color: $black-color;
}

.swbp-tray-action{
    margin: 0px !important;

    a{
        background-color: $content-background;
        @include border;
        color: $textColor-Secundary;
        min-height: 36px;
        padding: 10px 0px 0px 0px;
        
        &:hover, &:active, &:focus, &:active:focus{
            background-color: $white-color;
            color: $color-primary;
            border: solid 1px $border-color;
            outline: 0px;
        }        
        
    }

    .fa{
        padding: 0px;
        font-size: 14px;
    }    
}
.swbp-tray-text{
    font-family: Roboto;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    padding: 0px;
}
select.form-control{
    @include select;
    
    &:focus{
        @include inputFocus;
    }    
}
.panel.swbp-tray-chart{
    padding: 16px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    margin-bottom: 4px;
    
    .panel-footer{
        @include panelContainer;
        border-top: 0px;
        height: auto;

        h5{
            padding: 12px 16px;
            margin: 0px;
            color: $color-primary;
        }    
    }    
}

.swbp-tray-body{
    padding: 16px;
    @include panelContainer;
    text-align: center;
    height: 200px;
    overflow: scroll;
    
    .img-thumbnail{
        background-color: transparent;
        border: 0px;
        padding: 0px;
    }    
}

.swbp-tray-body-panel{
    border: solid 1px $border-color;
    border-top: 0px;
}
.swbp-footer-pagination{
    background-color: transparent;
    border-top: 0px;
    
    .swbp-pagination-title, .swbp-pagination-number ul.pagination{
        margin-top: 0px;   
    }    
}

/** MONITOREO V2 **/
.swbp-tray-date{
    padding: 10px 8px 8px 8px;
    background-color: $content-background;
    min-height: 36px;
    @include fontProperty;
}
.swbp-tray-process{
    padding: 8px;
    background-color: $content-background;
    min-height: 36px;
    @include fontPrimary;
    text-transform: uppercase;
    font-weight: bold;
}
.swbp-tray-task{
    padding: 8px;
    background-color: $content-background;
    min-height: 36px;
    @include fontSecundary;
}

/******************** MONITOREO ********************/
.swbp-input-monitor{
    background-color: $content-background;
    margin: 0px 0px 10px 0px;
}
.swbp-monitor-info{
    margin: 0px;
    border: solid 1px $border-color;
}
.swbp-monitor-section{
    min-height: 36px;
    padding: 8px 16px;
    @include fontPrimary;
}
.swbp-monitor-title{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px;
    color: $black-color;
}

//General hack for other styles
footer {
    margin-top:30px;
}

.swbp-free-text {
    * {
        max-width: 100%;
    }
    
    img {
        width: 100%;
        height: auto;
    }
}

.checkbox-inline input[type=checkbox] {
    width: auto;
    height: auto;
}