@charset "utf-8";
/* CSS Document */
* { margin:0px; padding:0px; font-family:Verdana, Geneva, sans-serif;}
html, body { height:100%;}
.clear{ clear:both; height:0px; padding:0px; margin:0px auto 0px auto; border:solid 0px #000000;}
.izq{ float:left}
.der { float:right}
/*CABECERA*/
.cabecera { background:url(images/cabecera-fondo_blue.jpg) right repeat-x; height:51px;}
.cabecera h1 {  background:url(images/cabecera-logo_blue.jpg); width:230px; height:51px; text-indent:-500px;}
/*MENU*/
.menu {	overflow: hidden; margin:0px; padding:0px; clear:none; width:100%;}
.menu a { text-decoration: none; display: block;}
.menu a:link, .menu a:visited { color:#8f9a83}
.menu a:hover, .menu a:active { color:#FFF;}
.menu ul {	margin:0px; padding:0px; background:url(images/menu-fondo_blue.jpg); height:85px;}
.menu li { position:relative; top:5px; height:80px;	float:left;	font-size:14px; list-style:none; -moz-user-select:none; -khtml-user-select:none; cursor:pointer; letter-spacing:1px; line-height:120px; margin:0px 40px 0px 25px;}
    /*pestañas*/
.menu-bandeja { background:url(images/menu-normal-bandeja.png) top center no-repeat;}
.menu-reporte { background:url(images/menu-normal-reporte.png) top center no-repeat;}
.menu-monitor { background:url(images/menu-normal-monitor.png) top center no-repeat;}
.menu-reposit { background:url(images/menu-normal-repositorio.png) top center no-repeat;} 

.menu-bandeja:hover { background:url(images/menu-over-bandeja_blue.png) top center no-repeat;}
.menu-reporte:hover { background:url(images/menu-over-reporte_blue.png) top center no-repeat;}
.menu-monitor:hover { background:url(images/menu-over-monitor_blue.png) top center no-repeat;}
.menu-reposit:hover { background:url(images/menu-over-repositorio_blue.png) top center no-repeat;}

.menu-bandeja-select { background:url(images/menu-select-bandeja_blue.png) top center no-repeat;}
.menu-reporte-select { background:url(images/menu-select-reporte_blue.png) top center no-repeat;}
.menu-monitor-select { background:url(images/menu-select-monitor_blue.png) top center no-repeat;}
.menu-reposit-select { background:url(images/menu-select-repositorio_blue.png) top center no-repeat;}
.menu-select  { color:#FFF !important}
/*CUERPO      */
.cuerpo { background: url(images/cuerpo-fondo.jpg) repeat-x; height:76% }
/*USER*/
.user        { padding:5px 15px 0px 0px; text-align:right; border-bottom:solid 0px #eee; height:40px; background:url(images/user-fondo.png) right no-repeat;}
.user strong { color: #004866; font-weight:normal; font-size:14px;}
.user a      { margin-left:20px; padding:0px; font-size:1px; text-decoration:none; color: #FFF; border:solid 0px red; line-height:50px; height:45px; display: inline-block; width:30px;}
/*.user a:hover{ color: #090;}*/
.user-edit       { background:url(images/user-config-normal.png) no-repeat top center;}
.user-edit:hover { background:url(images/user-config-over.png) no-repeat top center;}
.user-salir       { background:url(images/user-salir-normal_blue.png) no-repeat top center;}
.user-salir:hover { background:url(images/user-salir-over_blue.png) no-repeat top center;}
/*LATERAL*/
.lateral{	position:absolute; padding:0px; width:190px; border-right:0px solid #999999; background: url(images/lateral-linea.png) right top no-repeat;}
.lateral ul { list-style:none; width:99%}
.lateral li { margin:7px 0px 5px 0px; padding:7px 0px 7px 10px; font-size:12px;}
.lateral li a { text-decoration:none; color:#666666;}
.lateral li a:hover{ text-decoration:none; color:#004866;}
.lateral-select {background: #edfaff;}
/*CONTENT*/
#content{ position:absolute; left:200px; padding:10px 15px;  text-align:left; margin:0px 10px; font-size:12px; clear:both;}
#content * {color: #4c4c4c;}
h2 { margin-bottom:20px; font-size:14px}
h3 { margin-bottom:10px; font-size:12px}
h4 { font-size:14px}
#content ul{margin:0px 0px 5px 30px;}
#content li{margin:3px 0px 0px 0px;}
#content p{ text-align:justify;}
/*BANDEJA ENTRADA*/
.bandeja-combo { margin-bottom:15px; background:url(images/fondoOrdena.jpg) #f1f1f1 repeat-x; padding:5px; border:solid 1px #CCC; border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.bandeja-combo select { border:1px solid #CCC; }
.bandeja-combo option { border:none;}
.bandeja-combo ul { margin:0px !important; padding:0px;}
.bandeja-combo li { display:inline; padding:5px 10px; margin:0px !important; background:url(images/ordena-div.png) right no-repeat;  }
.tabla-bandeja  { border:solid 1px #ccc; border-collapse:collapse; width:100%}
.tabla-bandeja tr:hover { background:#edfaff;}
.tabla-bandeja th { background:#363; background:url(images/fondoTableThead_blue.jpg) top; color:#FFF !important; text-align:center;}
.tabla-bandeja th, .tabla-bandeja td { padding:8px 15px; border-bottom:solid 1px #ccc; }
.paginado { margin-top:20px; color:#666 !important;}
.paginado  a      { padding:0px 5px; color:#666 !important;}
.paginado  strong { padding:0px 5px; color:#004866 !important;}

.tban-id      {}
.tban-proces  {}
.tban-tarea   {}
.tban-inicia  { text-align: center;}
.tban-cerrada { text-align: center;}
.tban-accion   { font-size:10px; text-align:center;}
.tban-accion a       { text-decoration:none; border:solid 0px red; height:20px; display: inline-block; line-height:50px; margin:0px 5px;}
.tban-accion a:hover { color:#004866 !important;}
.acc-atender        { background: url(images/icono-atender1.gif) no-repeat center}
.acc-atender:hover  { background: url(images/icono-atender2_blue.gif) no-repeat center}
.acc-comentar        { background: url(images/icono-comentar1.gif) no-repeat center}
.acc-comentar:hover  { background: url(images/icono-comentar2.gif) no-repeat center}
.acc-opcional        { background: url(images/icono-opcional1.gif) no-repeat center}
.acc-opcional:hover  { background: url(images/icono-opcional2.gif) no-repeat center}
.acc-eliminar        { background: url(images/icono-eliminar1_blue.gif) no-repeat center}
.acc-eliminar:hover  { background: url(images/icono-eliminar2_blue.gif) no-repeat center}
.acc-detalle        { background: url(images/icono-detalle1.gif) no-repeat center}
.acc-detalle:hover  { background: url(images/icono-detalle2_blue.gif) no-repeat center}
.acc-mapa        { background: url(images/icono-mapa1_blue.gif) no-repeat center}
.acc-mapa:hover  { background: url(images/icono-mapa2_blue.gif) no-repeat center}
.acc-detalle        { background: url(images/icono-detalle1.gif) no-repeat center}
.acc-detalle:hover  { background: url(images/icono-detalle2_blue.gif) no-repeat center}
/*MONITOREO*/
.mgraf { border:solid 1px #f1f1f1; padding:10px; background:#fbfbfb; border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; margin-bottom:20px;}
.mgraf img { border:solid 1px #CCC;}
.mgraf-tit {}
/*PIE*/
#pie {	text-align:center; border-top:solid 1px #999; margin-top:10px; clear:left; padding:10px; background: #f1f1f1;}
#pie p {font-size:11px; color:#666666; text-align:right; margin-right:20px; letter-spacing:1px;}

.swbform legend {
    padding: 0 2px;
    font-weight: bold;
    padding-left: 0;
}

.swbform fieldset ol{
    margin: 0;
    padding: 0;
}
	
.swbform fieldset fieldset {
    border: none;
    padding: 0px 25px 0px 0px;
    background: none;
}
	
/*.swbform fieldset fieldset legend {
    width: 25%;
    text-align: right;
	font-weight: normal;
}*/
	
/*.swbform fieldset fieldset label {
	display: block;
	width: auto;
    margin-left: 26%;
    text-align: left;
    padding: 0px;
	}*/

/*.swbform fieldset span label {
    width: auto;
    padding: 0px 10px 0px 0px;  
	_display: block;            
    _margin-left: 25.5%;        
    _text-align: left;         
	}*/

.swbform em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

.swbform {
	/*_width: 100%;*/
    font-size: 1.1em;
    color: #333;
    font: normal 100% "Lucida Grande", Helvetica, Verdana, Arial;
    /*background: url(../images/swbform-fieldset.png) left bottom repeat-x;*/
}

.swbform legend,
.swbform label { color: #333; }

.swbform fieldset {
    /*_width: 400px;*/
    padding: 5px;
    border-top: 1px solid #004866;
    border-left: 1px solid #004866;
    border-bottom: 1px solid #004866;
    border-right: 1px solid #004866;
	/*_background: url(../images/swbform-fieldset.png) left bottom repeat-x;
    _background: url('../js/dojo/dijit/themes/soria/images/titleBar.png') left bottom repeat-x;*/
}

.swbform-label {
    width: 250px;
    display: inline-block;
    text-align:right;
    padding-right: 10px;
}
.swbform-ul { list-style-type:none;}
.swbform-li { padding-bottom:3px;}


