.swbstrgyIconAction {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -14px;
    background-position:-14px -14px;
}
.swbstrgyIconActionF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -32px;
}
.swbstrgyIconActionU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -50px;
}
.swbstrgyIconActionW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -68px;
}
.swbstrgyIconActions {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-174px -14px;
}
.swbstrgyIconActionsU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);    
    background-position:-174px -50px;
}
.swbstrgyIconState {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -14px;
}
.swbstrgyIconStateF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -32px;
}
.swbstrgyIconStateU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -50px; 
}
.swbstrgyIconStateW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -68px;
}
.swbstrgyIconStates {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-194px -14px;
}
.swbstrgyIconStatesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-194px -50px;
}
.swbstrgyIconObjective {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -14px;
}
.swbstrgyIconObjectiveF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -32px; 
}
.swbstrgyIconObjectiveU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -50px;
}
.swbstrgyIconObjectiveW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -68px;
}
.swbstrgyIconIndicator {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -14px;
}
.swbstrgyIconIndicatorF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -32px;
}
.swbstrgyIconIndicatorU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -50px;
}
.swbstrgyIconIndicatorW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -68px;
}
.swbstrgyIconPeriodicity {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -14px;
}
.swbstrgyIconPeriodicityF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -32px;
}
.swbstrgyIconPeriodicityU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -50px;
}
.swbstrgyIconPeriodicityW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -68px;
}
.swbstrgyIconPeriodicities {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-294px -14px;
}
.swbstrgyIconPeriodicitiesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-294px -50px;
}
.swbstrgyIconInitiative {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -86px;
}
.swbstrgyIconInitiativeF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -104px;
}
.swbstrgyIconInitiativeU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -122px;
}
.swbstrgyIconInitiativeW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -140px;
}
.swbstrgyIconInitiatives {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-174px -86px; 
}
.swbstrgyIconInitiativesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-image:url(../icons/icons.png);
    background-position:-174px -122px; 
}
.swbstrgyIconPeriod {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -86px;
}
.swbstrgyIconPeriodF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -104px;
}
.swbstrgyIconPeriodU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -122px;
}
.swbstrgyIconPeriodW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -140px; 
}
.swbstrgyIconPeriods {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-194px -86px;
}
.swbstrgyIconPeriodsU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-194px -122px;
}
.swbstrgyIconGroupPeriods {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-214px -194px;
}
.swbstrgyIconGroupPeriodsU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-234px -194px;
}
.swbstrgyIconGroupPeriodsW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-254px -194px;
}
.swbstrgyIconBSC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -86px;
}
.swbstrgyIconBSCF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -104px; 
}
.swbstrgyIconBSCU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -122px;
}
.swbstrgyIconBSCW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -140px; 
}
.swbstrgyIconSeries {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -86px;
}
.swbstrgyIconSeriesF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -104px;
}
.swbstrgyIconSeriesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -122px;
}
.swbstrgyIconSeriesW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -140px;
}
.swbstrgyIconPerspective {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -86px;
}
.swbstrgyIconPerspectiveF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -104px; 
}
.swbstrgyIconPerspectiveU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -122px; 
}
.swbstrgyIconPerspectiveW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -140px; 
}
.swbstrgyIconPerspectives {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-254px -86px;
}
.swbstrgyIconPerspectivesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-254px -122px; 
}
.swbstrgyIconRisk {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -86px;
}
.swbstrgyIconRiskF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -104px;
}
.swbstrgyIconRiskU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -122px;
}
.swbstrgyIconRiskW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -140px; 
}
.swbstrgyIconRisks {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-274px -86px;
}
.swbstrgyIconRisksU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-274px -122px;
}
.swbstrgyIconTheme {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -86px;
}
.swbstrgyIconThemeF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -104px;
}
.swbstrgyIconThemeU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -122px;
}
.swbstrgyIconThemeW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-134px -140px;
}
.swbstrgyIconThemes {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-294px -86px;
}
.swbstrgyIconThemesU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-294px -122px;
}
.swbstrgyIconDeliverable {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -158px;
}
.swbstrgyIconDeliverableF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -176px;
}
.swbstrgyIconDeliverableU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -194px;
}
.swbstrgyIconDeliverableW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-14px -212px;
}
.swbstrgyIconMeeting {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -158px;
}
.swbstrgyIconMeetingF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -176px;
}
.swbstrgyIconMeetingU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -194px;
}
.swbstrgyIconMeetingW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-34px -212px;
}
.swbstrgyIconMeetings {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -158px;
}
.swbstrgyIconMeetingsU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -194px;
}
.swbstrgyIconAgreement {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -158px;
}
.swbstrgyIconAgreementF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -176px;
}
.swbstrgyIconAgreementU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -194px;
}
.swbstrgyIconAgreementW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -212px; 
}
.swbstrgyIconFactor {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -158px;
}
.swbstrgyIconFactorF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -176px;
}
.swbstrgyIconFactorU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -194px;
}
.swbstrgyIconFactorW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -212px;
}
.swbstrgyIconControl {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -158px; 
}
.swbstrgyIconControlF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -176px;
}
.swbstrgyIconControlU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -194px; 
}
.swbstrgyIconControlW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-94px -212px; 
}
.swbstrgyIconDifferentiator {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -158px;
}
.swbstrgyIconDifferentiatorF {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -176px;
}
.swbstrgyIconDifferentiatorU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -194px;
}
.swbstrgyIconDifferentiatorW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-114px -212px;
}
.swbstrgyIconGroupDifferentiators {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-174px -158px;
}
.swbstrgyIconGroupDifferentiatorsU {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-174px -194px;
}
.swbstrgyIconGroupDifferentiatorsW {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-174px -212px;
}




.swbstrgyIcon03 {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -14px; 
}
.swbstrgyIcon04 {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -14px;     
}
.swbstrgyIcon08 {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -14px;
}
.swbstrgyIcon03C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-214px -14px;
}
.swbstrgyIcon04C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-234px -14px;
}
.swbstrgyIcon05C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-254px -14px;
}
.swbstrgyIcon06C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-274px -14px;
}
.swbstrgyIcon03F {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -32px; 
}
.swbstrgyIcon04F {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -32px;
}
.swbstrgyIcon08F {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -32px;
}
.swbstrgyIcon03U {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -50px; 
}
.swbstrgyIcon04U {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -50px;
}
.swbstrgyIcon08U {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -50px;
}
.swbstrgyIcon03UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-214px -50px;
}
.swbstrgyIcon04UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-234px -50px;
}
.swbstrgyIcon05UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-254px -50px;
}
.swbstrgyIcon06UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-274px -50px;
}
.swbstrgyIcon03W {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-54px -68px;
}
.swbstrgyIcon04W {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-74px -68px;
}
.swbstrgyIcon08W {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -68px;
}
.swbstrgyIcon08C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -86px;
}
.swbstrgyIcon11C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-214px -86px;
}
.swbstrgyIcon12C {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-234px -86px;
}
.swbstrgyIcon08UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-154px -122px;
}
.swbstrgyIcon11UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-214px -122px; 
}
.swbstrgyIcon12UC {
    background-repeat: no-repeat;
    width:20px;
    height: 18px;
    text-align: center;
    padding-right:0px;
    background-image:url(../icons/icons.png);
    background-position:-234px -122px;
}